//No se cuál de los es el responsive que tengo que tener en cuenta.
/*Móvil: 360 x 640.
Móvil: 375 x 667.
Móvil: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tableta: 768 x 1024.
Un ordenador portátil: 1366 x 768.
Un ordenador portátil o desktop de alta resolución: 1920 x 1080.*/

/*360×640 (móvil pequeño): 22,64%.
1366×768 (ordenador portátil medio): 11,98%.
1920×1080 (escritorio grande): 7,35%.
375×667 (móvil medio): 5%.
1440×900 (escritorio medio): 3,17%.
720×1280 (móvil grande): 2,74%.*/

/////Global attributes
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

//Attributes: Colors
$Color-Green-1: #28594B;
$Color-Green-2: #297350;
$Color-Green-3: #7EBFA1;
$Color-Green-4: #779C84;
$Color-Black-Text: #232323;
$Color-Orange-1: #EAA58C;
$Color-Orange-2: #F2B6A0;
$Color-White: #FFFFFF;
$Color-Gray-BG: #F2F2F2;

//Attributes: Text Styles
//$titles: 1.25em;
//$body: 1em;

//Font-size
//$largeTitle: 32px;
//$titles: 20px;
//$largeText: 20px;
/*$body: 16px;
$bodyBold: 16px;
$inputText: 16px;
$homeCardTitle: 16px;
$smallBody: 12px;
$link: 12px;*/
//Font-size in em for diferent type of cellphone
$largeTitle: 2em;
$titles: 1.25em;
$body: 1em;
$smallBody: 0.75em;

//global atributtes for font.
.homeCardTitle{
    font-size: $body;
    line-height: 115%;
    &__bold{
        font-weight: 700;
    }
}

.smallBody{
    font-size: $smallBody;
    &__link{
        font-weight: 500;
    }
}

/////Web design CSS
// 
//Global CSS
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    //All the text are made of Poppins!
    font-family: "Poppins";
}

//Left and Right have a margin of 20px that is 
.hasMargin{
    margin: 0 1.25em 0 1.25em;
}

.hasMarginLeft {
    margin-left: 20px;
}

body {
    max-width: 100% !important;
    background: $Color-Gray-BG;
}

a{
    text-decoration: none; 
}

//Font-styles
p{
    color:$Color-Green-1;
    //Almost everything has this setup
    font-size: $body;
    line-height: 24px;
    font-weight: 400;
}

h1{
    color: $Color-White;
    font-size: $largeTitle;
    font-weight: 600;
}

h2{
    font-size: $titles;
}

.background{
    height: 100vh;
    width: 100vw;
    background-size:cover;
    &-1{
        background-image:url(../Images/background-decorations/background-1.png);
    }
    &-2{
        background-image:url(../Images/background-decorations/background-2.png);
    }
    &-3{
        background-image:url(../Images/background-decorations/background-3.png);
    }
    &__blue{
        margin-bottom: 25px;
        padding-bottom: 10px;
        background-color: $Color-Green-1;
        border-radius: 0px 0px 26px 26px;
    }
}

.button{
        width: 165px;
        height: 42px;
        padding: 10px;
        text-transform:uppercase;
        font-weight: bold;
        border-radius: 8px;
        color:$Color-White;
        text-align: center;
        margin-top: 5%;
        font-weight: 700;
        text-decoration: none;
    &__orange{      
        background-color: $Color-Orange-1;
    }
    &__green{
        background-color: $Color-Green-1;
    }
}

//index.html
.bootscreen{
    &__img{
        position: absolute;
        display: flex;
    }
}

.login-register{
    &__logo{
        position:absolute;
    }
    &__text{
        position:absolute;
        font-size: 2em;
    }
}

.start{
    &__logo{
        position:absolute;
        &-2{
            position:absolute;
        }
    }
    &__text{
        padding: 100% 20% 0 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & p {
            margin-top: 5%;
            text-align: center;
        }
    }
}

.register__input{
    padding-top: 110%;
}


//HOME.html
.home{
    &__scroll{
        height: 200px;
        overflow: scroll;
    }
}


//MENU
.menu{
    background-color: white;
    &:hover{
        display: block;
        position: absolute;
        width: 500px;
        height: 500px;
        background-color: red;
    }
    &__drop{
        display:none;
    }
}

//news
.news{
    background-color: $Color-White;
    border-radius: 16px;
    margin: 20px;
    padding: 10px;
    &__cardtext{
        line-height: 1.5;
        margin-right:20%;
    }
}

//Celulares con el width más pequeño
@media screen and (max-width: 361px){
    .bootscreen{
        &__img{
            left: 15%;
            top: 25%;
        }     
    }
    .start{
        &__logo{
            left: 15%;
            top: 10%;
        }
    }
}
//360×640 (móvil pequeño): 22,64%.
@media screen and (max-width: 720px) and (min-width: 361px){
    //index.html
    .bootscreen{
        //First image of background
        &__img{
            left: 25%;
            top: 35%;
        } 
    }
    //start.html
    .start{
        &__logo{
            left: 33%;
            top: 10%;
            &-2{
                left: 25%;
                top: 30%;
            }
        }
    }
    //register or login.html
    .login-register{
        &__logo{
            left:25%;
            top:3%;
        }
        &__text{
            top: 15%;
            padding-left: 5%;
            //p attributes, of letter.
            font-weight:600;
            line-height:48px;
        }
    }
}